<h2>All Historical Figures</h2>

<!-- add content here -->
<% @figures.each do |figure| %>
    <h2><%= figure.name %></h2>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
