<h2>All Figures</h2>

<% @figures.each do |figure|%>
<h2>- - - - - - - - - - - - - - - - - - - - - - </h2>
<h2>Figure: <%=figure.name %></h2>

<%end%>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
